@{
    ViewData["Title"] = "Home Page - Cadastro de Clientes";
}

<div class="text-center">
    <h1 class="display-4">Bem-vindo</h1>
    <p class="lead">Este sistema foi desenvolvido para atender às demandas de empresas que buscam otimizar a gestão de informações dos seus clientes, oferecendo ferramentas robustas e seguras para facilitar o gerenciamento e apoiar tomadas de decisão estratégicas..</p>

    <hr class="my-4">

    <h3>Funcionalidades principais:</h3>
    <ul>
        <li><strong>Cadastro Inteligente:</strong> Registre novos clientes com rapidez e eficiência, garantindo precisão nos dados.</li>
        <li><strong>Consulta Avançada:</strong> Localize e analise informações detalhadas de cada cliente com filtros inteligentes e relatórios personalizáveis.</li>
        <li><strong>Atualização dinâmica:</strong> Edite informações sempre que necessário, mantendo a base de dados atualizada e relevante.</li>
        <li><strong>Exclusão Segura:</strong>  Remova registros de maneira controlada, respeitando as políticas de governança de dados da sua organização.</li>
    </ul>

    <hr class="my-4">

    <p>Para começar, utilize o menu principal para acessar as opções de cadastro, consulta ou relatórios. Torne a gestão de clientes um diferencial competitivo para sua empresa!</p>

    <p>Com uma interface intuitiva e funcionalidades corporativas otimizadas, você terá mais controle sobre a base de clientes e poderá aprimorar o relacionamento com cada um deles.</p>

    <a class="btn btn-primary btn-lg" href="@Url.Action("Index", "Clientes")" role="button">Ver Lista de Clientes</a>
    <a class="btn btn-success btn-lg" href="@Url.Action("Create", "Clientes")" role="button">Cadastrar Novo Cliente</a>
</div>
